
<div class="clearfix">
   <%= f.label :access_token, t("activerecord.attributes.account.access_token", :default => "Access token"), :class => :label %>
  <div class="input">
    <%= f.text_field :access_token, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :pin, t("activerecord.attributes.account.pin", :default => "Pin"), :class => :label %>
  <div class="input">
    <%= f.text_field :pin, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :processed_at, t("activerecord.attributes.account.processed_at", :default => "Processed at"), :class => :label %>
  <div class="input">
    <%= f.datetime_select :processed_at, :class => 'datetime_select' %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", accounts_path %>
</div>
